<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Culmen - Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <header class="flex-col">
        <section class="header-header flex-row">
            <div class="contenedor-hamburgesa">
                <a href="#" class="menu-hamburgesa-boton">
                    <i class="fas fa-bars hamburg"></i></a>
            </div>

            <div class="contenedor-logo">
                <img src="/image/logo-culmen.png" alt="Logo Culmen" class="logo">
            </div>

            <nav class="nav-bar flex-row">
                <div class="contenedor-buscador">
                    <form action="" method="">
                        <input type="text" name="buscador_home" id="buscador_home" class="buscador_home" placeholder="Busque su producto...">
                    </form>
                    <a href="#" class="buscador">
                        <i class="fas fa-search icon_header"></i>
                    </a>
                    
                </div>

                <div class="contenedor-user">
                    <i class="fas fa-user icon_header" alt="Iniciar Sesion"></i>
                </div>

                <div class="contenedor-carrito">
                    <i class="fas fa-shopping-cart icon_header" alt="Carrito de Compra"></i>
                </div>   
            </nav>
        </section>
    
        <nav class="header_container_items">
            <ul>
                    <li>Hombre</li>
                    <li>Mujer</li>
                    <li>Niño</li>
                    <li>Accesorios</li>
            </ul>
            </nav>


    </header>

    <main class="contenedor-main">
        <section class="form-data">
            <div class="customer-data">
                <p>Datos de contacto</p>
                <p style="font-size: 12px;">¿Tienes una cuenta? <a style="font-weight: bold;" href=>Entrar</a></p>
            </div>
            <div>
                <form action="" method="POST" style="margin-top:15px">
                    <input type="email" placeholder="Email">
                    <p>Dirección de envío</p>
                    <input type="text" placeholder="Pais/Región">
                    <div class="divided-form">
                        <input class="split-form" type="text" placeholder="Nombre">
                        <input class="split-form" type="text" placeholder="Apellido">
                    </div>
                    <input type="text" placeholder="Dirección">
                    <div class="divided-form">
                        <input class="split-form" type="text" placeholder="Ciudad">
                        <input class="split-form" type="text" placeholder="Código Postal">
                    </div>
                    <input type="text" placeholder="Provincia">
                    <input type="tel" placeholder="Teléfono">          
                </form>
            </div>
        </section>
        <section class="checkout">
            <div class="product-details">
                <p>Producto</p> 
                <p>Precio</p> 
                <p>Cantidad</p>
            </div>
            <div class="details">
                <div>
                    <img src="/image/producto-carrito.jpg" alt="" width="75" style="margin-top: 15px;">
                    <p class="product-name">Mochila 22L</p>
                </div>
                <div class="price-details">
                    <p>$35.000</p>
                </div>
                <div class="quantity-details">
                    <button class="quantity-button">+</button>
                    <p class="quantity-number"> 1 </p>
                    <button class="quantity-button">-</button>
                </div>
            </div>

                <form action="" method="POST" class="discount">
                    <input class="descuento" type="text" placeholder="Código de descuento" style="display:inline-block">
                    <button class="apply" style="display:inline" type="submit">Aplicar</button>
                </form>
            </div> 
            <div>
                <br>
                <p class="line">Envío</p>
                <p class="line">Total</p>
                <button type="submit" class="buy">Comprar</button>
            </div>
        </section>
    </main>
    
    <footer class="flex-col footer">

        <section class="main-footer flex-col">

            <div class="footer-contacto footer_item flex-row">
                <p>Contactos</p>
                <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
                <div class="lista-footer">
                    <ul>
                        <li>culmen@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="footer-categorias footer_item flex-row">
                <p>Categorias</p>
                <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
                <div class="lista-footer">
                    <ul>
                        <li>Hombres</li>
                        <li>Mujeres</li>
                        <li>Niños</li>
                        <li>Accesorios</li>
                    </ul>
                </div>
            </div>

            <div class="footer-ayuda footer_item flex-row">
                <p>Ayuda</p>
                <i class="fas fa-chevron-down" class="footer-icono-flecha"></i>
                <div class="lista-footer">
                    <ul>
                        <li>FAQ</li>
                        <li>Medios de Pago</li>
                        <li>Politica de Cambio</li>
                        <li>Envio</li>
                    </ul>
                </div>
            </div>

        </section>

        <section class="modos-pago">
                <img src="/image/tarjeta-visa.png" alt="Visa"  class="footer-icono-tarjetas">
                <img src="/image/tarjeta-mastercard.png" alt="Mastercard"  class="footer-icono-tarjetas">
                <img src="/image/tarjeta-americanexpress.png" alt="American Express" class="footer-icono-tarjetas">
                <img src="/image/paypal.png" alt="Paypal"  class="footer-icono-tarjetas">
                <img src="/image/banelco.png" alt="Banelco"  class="footer-icono-tarjetas">
                <img src="/image/naranja.png" alt="Naranja"  class="footer-icono-tarjetas">
                <img src="/image/mercadopago.png" alt="Mercado Pago"  class="footer-icono-tarjetas">
                <img src="/image/rapipago.png" alt="Rapipago"  class="footer-icono-tarjetas">
        </section>
        
        <section class="redes-sociales">

                <div class="iconos-red-social">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="iconos-red-social">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="iconos-red-social">
                    <i class="fab fa-twitter"></i>
                </div>

        </section>

        <div class="copyright">
            <i class="far fa-copyright"></i>
            <p>Todos los derechos reservados al grupo Culmen</p>
        </div>
    </footer>
</body>
</html>