<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <title>Culmen</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <header class="flex-col">
        <section class="header-header flex-row">
            <div class="contenedor-hamburgesa">
                <a href="#" class="menu-hamburgesa-boton">
                    <i class="fas fa-bars hamburg"></i></a>
            </div>

            <div class="contenedor-logo">
                <img src="/image/logo-culmen.png" alt="Logo Culmen" class="logo">
            </div>

            <nav class="nav-bar flex-row">
                <div class="contenedor-buscador">
                    <form action="" method="">
                        <input type="text" name="buscador_home" id="buscador_home" class="buscador_home" placeholder="Busque su producto...">
                    </form>
                    <a href="#" class="buscador">
                        <i class="fas fa-search icon_header"></i>
                    </a>
                    
                </div>

                <div class="contenedor-user">
                    <i class="fas fa-user icon_header" alt="Iniciar Sesion"></i>
                </div>

                <div class="contenedor-carrito">
                    <i class="fas fa-shopping-cart icon_header" alt="Carrito de Compra"></i>
                </div>   
            </nav>
        </section>
    
        <nav class="header_container_items">
            <ul>
                    <li>Hombre</li>
                    <li>Mujer</li>
                    <li>Niño</li>
                    <li>Accesorios</li>
            </ul>
            </nav>


    </header>

<!-- SECCION MAIN  -->
    <main class="flex-col">

        <section class="flex-col"> 

            <!-- AARTICLE IMAGEN PPAL -->
            <article class="article_ppal">
                <img src="/image/catego1new.jpg" alt="Cumbre" class="img-principal">
            </article> 

            <article class="article_ppal">
                <img src="/image/descanso-1.jpeg" alt="Cumbre" class="img-principal-laptop">
            </article> 

            <!-- ARTICLE MAIN HOMBRES  -->
            <article class="article_ppal">
                <img src="/image/catego-2.jpg" alt="Hombres" class="img-hombres">
                <div class="categoria1-text">
                    <p>HOMBRES</p>
                </div>
            </article>
        

            <!-- ARTICLE MAIN MUJERES  -->
            <article class="article_ppal">
                    <img src="/image/cate-mujer4.jpg" alt="Mujeres" class="img-mujeres">
                    <div class="categoria2-text">
                        <p>MUJERES</p>
                    </div>
            </article>

            <!-- ARTICLE MAIN NIÑOS  -->
            <article class="article_ppal">
                    <img src="/image/niño2.jpg" alt="Niños" class="img-niños">
                    <div class="categoria3-text">
                        <p>NIÑOS</p>
                    </div>
            </article>

            <!-- ARTICLE MAIN ACCESORIOS  -->
            <article class="article_ppal">
                    <img src="/image/accesorio1.jpg" alt="Accesorios" class="img-acc">
                    <div class="categoria4-text">
                        <p>ACCESORIOS</p>
                    </div>
            </article>
        </section>

        <section class="section-productos flex-col">
            <h3>Basado en tu ultima visita</h3>
                
            <article class="producto card">
                <div class="card2">
                    <img src="/image/pantalon_arena.jpg" alt="" class="img-product">
                    <div class="main-art-prducto">
                        <p><strong class="producto-precio">Precio</strong></p>
                        <p class="producto-off">Oferta</p>
                        <p class="producto-nombre"><strong>Nombre</strong></p>
                    </div>
                </div>

            </article>

            <article class="producto card">
                <div class="card2">
                    
                <img src="/image/pantalon_mawenzi.jpg" alt="" class="img-product">
                <div class="main-art-prducto">
                    
                    <p><strong class="producto-precio">Precio</strong></p>
                    <p class="producto-off">Oferta</p>
                    <p class="producto-nombre"><strong>Nombre</strong></p>
                        
                </div>
                </div>
            </article>

            <article class="producto card">
                <div class="card2">
                    <img src="/image/calza_ciclon_hombre.jpg" alt="" class="img-product">
                    <div class="main-art-prducto">
                        <p><strong class="producto-precio">Precio</strong></p>
                        <p class="producto-off">Oferta</p>
                        <p class="producto-nombre"><strong>Nombre</strong></p>
                </div>
                
                </div>
            </article>

            <article class="producto card">
                <div class="card2">
                    
                <img src="/image/campera_ergo.jpg" alt="" class="img-product">

                <div class="main-art-prducto">
                    <p><strong class="producto-precio">Precio</strong></p>
                    <p class="producto-off">Oferta</p>
                    <p class="producto-nombre"><strong>Nombre</strong></p>
                        
                </div>
                </div>
            </article>

        </section>

        <section class="contenedor-main-somos flex-col">

            <div class="main-somos flex-col">
                <h4>¿QUIENES SOMOS?</h4>
                <p>Somos Culme, Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, provident earum. Ab id quas eaque? Facilis error officiis illo, molestias neque quo. Expedita sunt inventore iusto in magnam quidem natus.</p>
                <h4 class="desc-product">Descripcion de nuestro porductos</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nesciunt, atque accusantium inventore optio dignissimos possimus eveniet nam mollitia voluptate sequi reprehenderit, similique ipsa repudiandae cum doloribus dolores! Quam, dolore?</p>
            </div>

            <div class="main-registrarse">
                <h3>SI TODAVIA NO TENES CUENTA</h3>
                <button type="button" class="boton-register">REGISTRARSE</button>
            </div>   
            
        </section>
    </main>

    <footer class="flex-col footer">

        <section class="main-footer flex-col">

            <div class="footer-contacto footer_item flex-row">
                <p>Contactos</p>
                <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
                <div class="lista-footer">
                    <ul>
                        <li>culmen@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="footer-categorias footer_item flex-row">
                <p>Categorias</p>
                <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
                <div class="lista-footer">
                    <ul>
                        <li>Hombres</li>
                        <li>Mujeres</li>
                        <li>Niños</li>
                        <li>Accesorios</li>
                    </ul>
                </div>
            </div>

            <div class="footer-ayuda footer_item flex-row">
                <p>Ayuda</p>
                <i class="fas fa-chevron-down" class="footer-icono-flecha"></i>
                <div class="lista-footer">
                    <ul>
                        <li>FAQ</li>
                        <li>Medios de Pago</li>
                        <li>Politica de Cambio</li>
                        <li>Envio</li>
                    </ul>
                </div>
            </div>

        </section>

        <section class="modos-pago">
                <img src="/image/tarjeta-visa.png" alt="Visa"  class="footer-icono-tarjetas">
                <img src="/image/tarjeta-mastercard.png" alt="Mastercard"  class="footer-icono-tarjetas">
                <img src="/image/tarjeta-americanexpress.png" alt="American Express" class="footer-icono-tarjetas">
                <img src="/image/paypal.png" alt="Paypal"  class="footer-icono-tarjetas">
                <img src="/image/banelco.png" alt="Banelco"  class="footer-icono-tarjetas">
                <img src="/image/naranja.png" alt="Naranja"  class="footer-icono-tarjetas">
                <img src="/image/mercadopago.png" alt="Mercado Pago"  class="footer-icono-tarjetas">
                <img src="/image/rapipago.png" alt="Rapipago"  class="footer-icono-tarjetas">
        </section>
        
        <section class="redes-sociales">

                <div class="iconos-red-social">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="iconos-red-social">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="iconos-red-social">
                    <i class="fab fa-twitter"></i>
                </div>

        </section>

        <div class="copyright">
            <i class="far fa-copyright"></i>
            <p>Todos los derechos reservados al grupo Culmen</p>
        </div>
    </footer>

</body>
</html>