<!DOCTYPE html>
<html lang="en">


<%-  include('./partials/head.ejs')   %>

    
    <link href="/css/productDetail.css" rel ="stylesheet">

</head>


<body>

<header class="flex-col">
    <section class="header-header flex-row">
        <div class="contenedor-hamburgesa">
            <a href="#" class="menu-hamburgesa-boton">
                <i class="fas fa-bars hamburg"></i></a>
        </div>

        <div class="contenedor-logo">
            <img src="/image/logo-culmen.png" alt="Logo Culmen" class="logo">
        </div>

        <nav class="nav-bar flex-row">
            <div class="contenedor-buscador">
                <form action="" method="">
                    <input type="text" name="buscador_home" id="buscador_home" class="buscador_home" placeholder="Busque su producto...">
                </form>
                <a href="#" class="buscador">
                    <i class="fas fa-search icon_header"></i>
                </a>
                
            </div>

            <div class="contenedor-user">
                <i class="fas fa-user icon_header" alt="Iniciar Sesion"></i>
            </div>

            <div class="contenedor-carrito">
                <i class="fas fa-shopping-cart icon_header" alt="Carrito de Compra"></i>
            </div>   
        </nav>
    </section>

    <nav class="header_container_items">
        <ul>
                <li>Hombre</li>
                <li>Mujer</li>
                <li>Niño</li>
                <li>Accesorios</li>
        </ul>
        </nav>


</header>

<!-- <main class="flex-col">
  <div class="flex-col">
    <div class="producto"> Nombre del producto y precio </div>    
    <img class="imagen" src=" https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp">
  
    <div> producto es X </div> 
    <div class="propiedades">
      <div class="talle"> Talle </div>
      <div class="cantidad"> Cantidad</div>
    </div>

  <div class="envios">
    <div class="cesta"> Añadir a la Cesta</div>
    <div> Encontra tu talla</div>
    <div> Disponibilidad en la tienda </div>
    <div> Envios, Cambios y Devoluciones </div>
  </div>
</div>

<div class="contenedor-int">
<h5> Tambien podria interesarte <h5>
  <div class="interesarte" class="flex-col"> 
    <img class="producto1" src="https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" >
    <img class="producto2" src= "https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" > <br>
  <div> Nombre de Producto y Precio </div> 
  <div> Nombre de Producto y Precio </div>
</div>
</div>
</main>
 -->

 <main class="main_detailProduct flex-col">

    <section class="img_detailProduct">
        <img src="https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" alt="">
    </section>


    <section class="detailProduct_other_images">
        <div class="small_img">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" alt="">
        </div>
        <div class="small_img">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" alt="">
        </div>
        <div class="small_img">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" alt="">
        </div>
        <div class="small_img">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_959371-MLA51172121200_082022-F.webp" alt="">
        </div>
    </section>

    <section class="container_price">
        <div class="content_price">
            <p>Nombre</p>
            <p>Precio</p>
            <p>⭐⭐⭐⭐⭐</p>
            <p>Opiniones</p>
        </div>
    </section>

    <section class="container_talles">
        <p>TALLES</p>
        <div class="talles">
            <button>XS</button>
            <button>S</button>
            <button>M</button>
            <button>L</button>
            <button>XL</button>
        </div>
    </section>

    <section class="container_comprar">
        <div class="contador">
            <button class="cesta">+</button>
            <p> 1 </p>
            <button class="cesta">-</button>
        </div>
        <button class="btn_comprar"> COMPRAR 🛒</button>
    </section>


    <section class="description_productDetail flex-col">
            <h4>Nombre del producto</h4>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident sequi quam vero voluptatem dignissimos vitae natus voluptate sed ullam harum, ipsum ea molestiae illo reprehenderit quibusdam cum distinctio dolor! Impedit. </p>
    </section>
 </main>

<footer class="flex-col footer">

  <section class="main-footer flex-col">

      <div class="footer-contacto footer_item flex-row">
          <p>Contactos</p>
          <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
      </div>

      <div class="footer-categorias footer_item flex-row">
          <p>Categorias</p>
          <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
      </div>

      <div class="footer-ayuda footer_item flex-row">
          <p>Ayuda</p>
          <i class="fas fa-chevron-down" class="footer-icono-flecha"></i>
      </div>

  </section>

  <section class="modos-pago">
          <img src="/image/tarjeta-visa.png" alt="Visa"  class="footer-icono-tarjetas">
          <img src="/image/tarjeta-mastercard.png" alt="Mastercard"  class="footer-icono-tarjetas">
          <img src="/image/tarjeta-americanexpress.png" alt="American Express" class="footer-icono-tarjetas">
          <img src="/image/paypal.png" alt="Paypal"  class="footer-icono-tarjetas">
          <img src="/image/banelco.png" alt="Banelco"  class="footer-icono-tarjetas">
          <img src="/image/naranja.png" alt="Naranja"  class="footer-icono-tarjetas">
          <img src="/image/mercadopago.png" alt="Mercado Pago"  class="footer-icono-tarjetas">
          <img src="/image/rapipago.png" alt="Rapipago"  class="footer-icono-tarjetas">
  </section>
  
  <section class="redes-sociales">

          <div class="iconos-red-social">
              <i class="fab fa-facebook-f"></i>
          </div>
          <div class="iconos-red-social">
              <i class="fab fa-instagram"></i>
          </div>
          <div class="iconos-red-social">
              <i class="fab fa-twitter"></i>
          </div>

  </section>

  <div class="copyright">
      <p>Todos los derechos reservados al grupo Culmen</p>
  </div>
</footer>

</body>
</html>