/*HEADER*/

* {
    box-sizing: border-box  ;
    margin: 0;
    padding: 0;
}

.nav-bar{
    width: 30%;
    justify-content: space-around;
    gap: 30px;
}

.buscador_home{
    display: none;
}

.header_container_items{
    display: none;
}

.logo {
    width: 50px;
}

.menu-hamburgesa-boton {
    color: var(--op2-color-gris-claro);
}

.buscador {
    color: var(--op2-color-gris-claro);
}

/*HEADER*/

/* MAIN */


body{
    font-family: 'Roboto', sans-serif;
    
}

.contenedor-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

.form-data{
    /*display: block;*/
    background-color: whitesmoke;
    color: black;
    padding: 40px;
    border-bottom: solid rgb(175, 175, 175) 1px;
    box-sizing: border-box;
}

.checkout{
    background-color: white;
    color: black;
    padding: 40px;
    box-sizing: border-box;
}

.customer-data{
    display: flex;
    gap: 30px;
}
input{
    background-color: whitesmoke;
    padding: 12px 20px;
    border: solid rgb(175, 175, 175) 1px;
    border-radius: 1em;
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divided-form{
    display: flex;
    gap: 20px;
    width: 47%;
}

.discount{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.descuento{
    display: flex;
    width: 50%;
    background-color: white;
    padding: 12px 20px;
    border: solid rgb(175, 175, 175) 1px;
    border-radius: 10px;
}

.apply{
    display: flex;
    width: 20%;
    background-color: whitesmoke;
    padding: 12px 20px;
    border: solid rgb(175, 175, 175) 1px;
    border-radius: 10px;
    cursor: pointer;
}

.line {
    padding: 10px 0px 10px;
    border-bottom: solid rgb(175, 175, 175) 1px;
    width: 80%;
}

.buy{
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 47%; 
    font-weight: bold;
    font-size: 20px;
    padding: 15px 25px;
    border: solid rgb(175, 175, 175) 1px;
    border-radius: 10px;
    cursor: pointer;
}

img{
    border-radius: 1em;
}

.product-details {
    display: flex;
    gap: 70px;
    padding: 10px 0px 10px;
    border-bottom: solid rgb(175, 175, 175) 1px;
    width: 80%;
}






/*MAIN*/

/*FOOTER*/

.footer{
    background-color: var(--op2-color-bg-blue-oscuro);
    color: var(--op2-color-gris-claro);
    height: 90vh;
    justify-content: space-between;

}

.main-footer {
    color: var(--op2-color-gris-claro);
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
}

.footer_item { 
    border-bottom: 1px solid #ebebeb;
    padding: 15px;
    justify-content: space-between;
}

/* FOOTER IMAGENES TARJETAS */

.modos-pago {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-self: center;
}

.footer-icono-tarjetas {
    margin: 5px;
    width: 40px;
    height: 25px;
}

/*  FOOTER REDES SOCIALES  */
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.iconos-red-social {
    margin: 5px;
    font-size: 25px;
    transition: all 0.3s ease 0s;;
}

.iconos-red-social:hover{
    cursor: pointer;
    color: var(--op2-color-primary-green);
    transform: translateY(-7px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* FOOTER COPYRIGHT  */
.copyright p{
    text-align: center;
    font-size: 12px;

}
/*FOOTER*/


/* MQ TABLETS */
@media (min-width: 481px){
    /* tablets & desktops*/
    .contenedor-main{
        display: flex;
        flex-direction: row;
}    
    .form-data{
        /*display: inline-block;
        width: 40%;*/
        width: 40%;
        background-color: whitesmoke;
        color: black;
        padding: 40px;
        border-right: solid rgb(175, 175, 175) 1px;
        box-sizing: border-box;
    }

    .customer-data{
        display: flex;
        gap: 20px;
    }

    .divided-form{
        display: flex;
        gap: 20px;
        width:80%;
    }

    .checkout{
        /*display: inline-block;
        width: 50%;*/
        width: 60%;
        background-color: white;
        color: black;
        padding: 40px;
        box-sizing: border-box;
    }

    .product-details {
        display: flex;
        gap: 200px;
        padding: 10px 0px 10px;
        border-bottom: solid rgb(175, 175, 175) 1px;
        width: 100%;
    }
      
    input{
        display: block;
        width: 100%;
        background-color: whitesmoke;
        padding: 12px 20px;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 10px;
        
    }
    
    .apply{
        background-color: whitesmoke;
        padding: 12px 20px;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .buy{
        display: flex;
        background-color: whitesmoke;
        margin-top: auto;
        margin-left: auto;
        font-weight: bold;
        font-size: 20px;
        padding: 15px 25px;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 1em;
        cursor: pointer;
    }
    
    img{
        border-radius: 1em;
    }
    
    .line {
        padding: 10px 0px 10px;
        border-bottom: solid rgb(175, 175, 175) 1px;
        width: 100%;
    }
    
    .descuento{
        display: block;
        width: 50%;
        background-color: white;
        padding: 12px 20px;
        border: solid rgb(175, 175, 175) 1px;
        border-radius: 10px;
    }

    .modos-pago{
        width: 45%;
    }
    .footer-icono-tarjetas{
        width: 50px;
        height: 32px;

    }
}