
:root{

    /*  PALETA DE COLORES: OPCION RED  */
        --op1-color-primary-rojo: #f93943; 
        --op1-color-secondary-rojo: #d1495b ;
        --op1-color-bg-negro: #1a1423;
        --op1-color-gris-oscuro: #65655e;
        --op1-color-gris-claro: #e1e6e1; 
    
    /* PALETA DE COLORES: OPCION GREEN */
        --op2-color-primary-green: #4daa57; 
        --op2-color-secondary-ligthblue: #1e96fc; 
        --op2-color-bg-blue-oscuro: #0b0033; 
        --op2-color-gris-oscuro: #616163; 
        --op2-color-gris-claro: #e1e6e1; 
        
    
    /* TIPOGRAFIA PROPUESTA */
        --op1-font-type: 'Roboto', sans-serif;
        /* @import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap'); */ 
        --op2-font-type: 'Lato', sans-serif;
        /* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap')*/   
    }
    

*{
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    color: #1a1423;
    background-color: #4daa57;
}

.contenedor_login, .contenedor_register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}



.titulo {
    font-size: 250%;
    color:var(--op2-color-secondary-ligthblue);
    text-align: center;
}

.login_form_container, .register_form_container {
    width: 100%;
    padding: 2rem;
    background-color: #e1e6e1;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
}

.login_form_container input, .register_form_container input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.login_form_container input::placeholder, .register_form_container input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

.login_form_container button, .register_form_container button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#0b0033;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}

.login_form_container button:hover , .register_form_container button:hover {
    background-color: #4daa57;
    color:#616163;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.pie-form a {
    text-decoration: none;
    color: #616163;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #4daa57;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #616163;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #4daa57;
}


.input_radio{
    width: 10%!important;
}

.promo_radio{
    display: flex;
    align-items: center;
    font-size: 11px;
}


/*  TABLETS */
@media (min-width: 481px){





}


/*  DESKTOP */

@media (min-width: 769px){

    main{
        display: flex;
    }



}