<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head.ejs')   %>

    <link href="/css/login.css" rel ="stylesheet">
</head>

<body>
    <main>
        <section class="contenedor_login">

                    <div class="login_form_container">
                        <p class="titulo">
                            Bienvenido
                        </p>

                        <form class="loginform">
                            <input type="text" name="usuario" placeholder="Usuario" required>
                            
                            <input type="password" placeholder="Contraseña" name="password" required>
                            
                            <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                        </form>

                        <div class="pie-form">
                            <a href="#">¿Perdiste tu contraseña?</a>
                            <a href="#">¿No tienes Cuenta? Registrate</a>
                        </div>
                    </div>

                    <div class="inferior">
                        <a href="#">Volver</a>
                    </div>
            </section>
        
            <section class="contenedor_register">
                <div class="register_form_container">

                    <p class="titulo">
                        REGISTRO
                    </p>

                    <form action="" class="registerform">
                        <input type="text" id="name" name="name"  placeholder="Ingresa tu Nombre">
                        <input type="text" id="lastname" name="lastname" placeholder="Ingresa tu Apellido">
                        <input type="email" id="email" name="email" placeholder="Ingresa tu Email">
                        <input type="password" id="pass" name="pass" placeholder="Ingresa tu Contraseña">
                        <input type="password" id="passConfirm" name="passConfirm" placeholder="Confirma tu Contraseña">
                        <p>Fecha de Nacimiento: </p>
                        <input type="date" id="fechaNac" name="fechaNac">
                        
                        <label for="promo" class="promo_radio">
                            <input type="radio" name="promo" id="promo" class="input_radio">
                            Acepta recibir noticias y promociones
                        </label> 
                        <button type="button"> CREAR CUENTA </button>
                    </form>
                    

                </div>
            </section>
    </main>
</body>
</html>