<!DOCTYPE html>
<html lang="en">
    <%-  include('../partials/head.ejs', { css_files: ["login"] })%>

<!--     <link href="/css/login.css" rel ="stylesheet">
 --></head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="contenedor_login">
 
                    <div class="login_form_container">
                        <p class="titulo-login">
                            Iniciar sesión
                        </p>

                        <p class="subtitulo-login">
                            Iniciá sesión en tu cuenta para comprar, ver el estado de tus pedidos y más.
                        </p>

                        <form class="loginform">
                            <input type="email" name="email" placeholder="Email" required>
                            
                            <input type="password" placeholder="Contraseña" name="password" required>
                            
                            <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                        </form>

                        <div class="pie-form">
                            <a href="#">¿Has olvidado tu contraseña?</a>
                        </div>
                    </div>
            </section>
        
            <section class="contenedor_register">
                <div class="register_form_container">

                    <p class="titulo-register">
                        Creá tu cuenta
                    </p>

                    <p class="subtitulo-register">
                        Registrándote no te perderás de descuentos exclusivos, ofertas y anuncios.
                    </p>

                    <form action="" class="registerform">
                        <input type="text" id="name" name="name"  placeholder="Ingresa tu Nombre">
                        <input type="text" id="lastname" name="lastname" placeholder="Ingresa tu Apellido">
                        <input type="email" id="email" name="email" placeholder="Ingresa tu Email">
                        <input type="password" id="pass" name="pass" placeholder="Ingresa tu Contraseña">
                        <input type="password" id="passConfirm" name="passConfirm" placeholder="Confirma tu Contraseña">
                        <p>Fecha de Nacimiento: </p>
                        <input type="date" id="fechaNac" name="fechaNac">
                        
                        <label for="promo" class="promo_radio">
                            <input type="checkbox" name="promo" id="promo" class="input_radio">
                            Acepta recibir noticias y promociones
                        </label> 
                        <button type="submit"> Crear cuenta </button>
                    </form>
                    

                </div>
            </section>
    </main>

    <%-  include('../partials/footer.ejs')   %>


</body>
</html>