

.flexa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexa {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* crea 3 columnas de tamaño igual */
    grid-gap: 20px; /* separación entre las tarjetas */
  }
  
  .flexa > div {
    background-color: #fff; /* fondo de las tarjetas */
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* sombra de las tarjetas */
    text-align: center; /* centrar el contenido de las tarjetas */
  }
  