<!DOCTYPE html>
<html lang="en">
    <%-  include('../partials/head.ejs', { css_files: ["adminEdicionProdu"] })%>


<body>
   
     <%- include('../partials/header.ejs') %> 

    <main>

        <h2>Editar Producto</h2>

        <form action="">

            <div class="contenedor">

                <div class="contenedor-id">
                    <label> Id del Producto</label>
                    <input type="text" name="" id="" placeholder="" class="Id del producto inputstyle">
                </div>
                
                
                <div class="contenedor-nombreProdu">
                    <label>Nombre del Producto:</label>
                    <input type="text" name="nombreProducto" id="" placeholder="" class="nombreProducto inputstyle">
                </div>
               
                <div class="contenedor-descripcion">
                    <textarea name="descripcion" id="" cols="30" rows="10" placeholder="Descripcion del producto" class="descripcion inputstyle"></textarea>
                </div>
                
                <div class="contenedor-img">
                    <input type="file" name="file_img" id="" placeholder="Sube la imagen" class="img"  multiple accept= ".jpg">
                </div>

                <div class="contenedor-categorias">
                    <label class=" sub-contenedor">Categorias:</label>
                    <select name="categorias" id="" class="categorias"> Categorias
                        <option value="">HOMBRE</option>
                        <option value="">MUJER</option>
                        <option value="">NIÑOS</option>
                        <option value="">ACCESORIOS</option>
                    </select>
                </div>

                <div class="contenedor-prendas">
                    <label class="categoria-prenda">Tipos de prendas:</label>
                    <input type="radio" name="ropa" id="" placeholder="" class="prendas"> Camisa
                    <input type="radio" name="ropa" id="" placeholder="" class="prendas"> Camperas
                    <input type="radio" name="ropa" id="" placeholder="" class="prendas"> Pantalones
                    <input type="radio" name="ropa" id="" placeholder="" class="prendas"> Remeras
                </div>

                <div class="contenedor-talles">
                    <label class="categoria-talles">Talles:</label>
                    <input type="radio" name="talle" id="" placeholder="" class="talles"> S
                    <input type="radio" name="talle" id="" placeholder="" class="talles"> M
                    <input type="radio" name="talle" id="" placeholder="" class="talles"> L
                    <input type="radio" name="talle" id="" placeholder="" class="talles"> XL
                </div>

                <div class="contenedor-precio">
                    <label>Precio:</label>
                    <input type="number" name="" id="" placeholder="$" class="inputstyle"> 
                </div>

                <div class="contenedor-btn">
                    <button class="btn-crear" type="submit">GUARDAR CAMBIOS</button>
                    <button class="btn-cancelar" type="submit">CANCELAR</button>
                </div>
           
        </div>
        </form>
    </main>


      <%-  include('../partials/footer.ejs')   %>  

</body>
</html>